// Navigation
#navigation {
  background: $primary-darker;
  color: $white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.25);

  min-height: 56px;

  // Positioning context for the mobile navigation icon
  position: relative;
  z-index: 9900;

  a {
    color: $white;
  }

  .site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &, &:visited {
    }
  }
  .site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
      display: none;
    }

    .page-link {
      // color: $text-color;
      line-height: $base-line-height;

      // Gaps between nav items, but not on the first one
      &:not(:first-child) {
        margin-left: 20px;
      }
    }

    @include media-query($on-palm) {
      position: absolute;
      top: 9px;
      right: 30px;
      background-color: $background-color;
      border: 1px solid $gray-light;
      border-radius: 5px;
      text-align: right;
      z-index: 9999;
      .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center;
        padding-bottom: 25px;
        > svg {
          width: 18px;
          height: 15px;
          path {
            fill: $gray-dark;
          }
        }
      }
      .trigger {
        clear: both;
        display: none;
      }
      &:hover .trigger {
        display: block;
        padding-bottom: 5px;
      }
      .page-link {
        display: block;
        padding: 5px 10px;
        color: $black;
      }
    }
  }
}

// Page header
header {
  background-color: $primary;
  background-position: center;
  background-size: cover;
  color: $white;
  text-align: center;
  position: relative;
  &:before {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    top: 0;
    left: 0;
    z-index: 0;
  }
  container {
    position: relative;
  }
}

// Page content
.post-list {
  margin-left: 0;
  list-style: none;
  > li {
    margin-bottom: $spacing-unit;
  }
}
.post-meta {
  font-size: $small-font-size;
  opacity: .75;
}

// Posts
.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;
  margin-top: $spacing-unit / 2;
  @include media-query($on-laptop) {
    font-size: 36px;
  }
}
.post-content {
  margin-bottom: $spacing-unit;
}

// Guests
.guest {
  margin-left: 150px;
  margin-bottom: 3em;
  @include media-query($on-palm) {
    text-align: center;
    margin-left: 0;
  }
  .avatar {
    background-color: lightGray;
    width: 120px;
    height: 120px;
    margin-left: -150px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    min-height: 100%;
    display: block;
    float: left;
  }
  h2 {
    vertical-align: middle;
    small, .aka {
      font-size: .75em;
      margin-left: 10px;
      font-weight: normal;
      font-family: $accent-font-family;
      @include media-query($on-palm) {
        display: block;
      }
    }
  }
  &-links {
    @extend .link-bar;
  }
  @include media-query($on-palm) {
    padding-left: 0;
    .avatar {
      width: 150px;
      height: 150px;
      margin-left: auto;
      margin: 0 auto 1em;
      float: none;
    }
  }
  &-embed-list {
    position: relative;
    max-height: 404px;
    overflow: hidden;
  }
  &-embed {
    text-align: center;
    padding-left: 0;
    display: inline-block;
    margin-bottom: 1em;
    margin-left: 0;
    // margin: 1em !important;
    min-width: 142px;
    flex-basis: 142px!important;
    .avatar {
      width: 100px;
      height: 100px;
      display: block;
      margin: auto;
      margin-left: auto;
      float: initial;
      margin-bottom: 20px;
      min-height: auto;
    }
    h2, h3 {
      display: block;
      font-size: 1.05em;
      font-weight: normal;
      margin-bottom: .35em;
    }
    small, .aka {
      font-size: .85em;
      font-weight: normal;
      font-family: $accent-font-family;
    }
  }
}

// Link bar
.link-bar {
  a:not(.twitter-button) {
    margin-right: 10px;
    icon {
      margin-left: 5px;
    }
  }
  .twitter-button {
    margin-top: -2px;
  }
}

// Pricing Tables
.reg {
  .reg-column {
    border: 1px solid black;
    box-shadow: 0 0 10px lightGray;
  }
  .reg-tier, .reg-perks {
    padding: 1em;
  }
  .reg-tier {
    text-align: center;
    font-size: 1.25em;
    background: black;
    color: white;
    a {
      margin-top: 1em;
      margin-bottom: 0;
      color: white;
      border-radius: 4px;
    }
  }
  .reg-perks {
    padding-bottom: 0;
  }
  ul {
    text-align: left;
    // margin-bottom: 0;
  }
}

// 404
#four-oh-four {
  display: flex;
  height: 100vh;
  width: 100vw;
  background: $secondary;
  color: white;

  position: absolute;
  top: 0;
  left: 0;
  h1 {
    margin-top: 1em;
  }
  a {
    color: white;
  }
}

//
// SEPTA Colors
// --------------------------------------------------

$septa-brand: #144B88;
$septa-rr: #4A637D;
$septa-mfl: #3878B6;
$septa-bsl: #F79100;
$septa-trolley: #267200;
$septa-nhsl: #993D9B;
$septa-bus: #231F20;
$septa-cct: #2551A3;

.title-brand { background: $septa-brand!important; color: white!important; }
.title-rr { background: $septa-rr!important; color: white!important; }
.title-mfl { background: $septa-mfl!important; color: white!important; }
.title-bsl { background: $septa-bsl!important; color: white!important; }
.title-trolley { background: $septa-trolley!important; color: white!important; }
.title-nhsl { background: $septa-nhsl!important; color: white!important; }
.title-bus { background: $septa-bus!important; color: white!important; }
.title-cct { background: $septa-cct!important; color: white!important; }

.text-brand { color: $septa-brand!important; }
.text-rr { color: $septa-rr!important; }
.text-mfl { color: $septa-mfl!important; }
.text-bsl { color: $septa-bsl!important; }
.text-trolley { color: $septa-trolley!important; }
.text-nhsl { color: $septa-nhsl!important; }
.text-bus { color: $septa-bus!important; }
.text-cct { color: $septa-cct!important; }

.border-brand { border-color: $septa-brand!important; }
.border-rr { border-color: $septa-rr!important; }
.border-mfl { border-color: $septa-mfl!important; }
.border-bsl { border-color: $septa-bsl!important; }
.border-trolley { border-color: $septa-trolley!important; }
.border-nhsl { border-color: $septa-nhsl!important; }
.border-bus { border-color: $septa-bus!important; }
.border-cct { border-color: $septa-cct!important; }

//
// Styles
// --------------------------------------------------

// Line display
.mobile-toggle-arrow {
  display: none;
}
.lines-list-heading {
  text-align: center;
  font-size: 1.15rem;
  line-height: 1.15rem;
  font-weight: normal;
  border-bottom: 1px solid lightgray;
  padding-bottom: .5rem;
  color: gray;
}
#septa_main_content ul.lines-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 1rem;
  li a {
    display: block;
    border-bottom: 1px solid lightGray;
    text-decoration: none;
    padding: .25rem 0;
    &:hover {
      text-decoration: underline;
      background: whitesmoke;
    }
  }
}
.icons {
  float: right;
  vertical-align: middle;
  .icon {
    display: inline-block;
    width: 1rem;
    text-align: center;
    img {
      height: 1rem;
      width: auto;
      max-width: 1rem;
    }
  }
}

// Mapbox
#map {
  // height: 400px;
  // height: 60vh;
  height: 350px;
}

#map .mapboxgl-marker {
    background-size: cover;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
}

.mapboxgl-popup {
    max-width: 400px;
}

// Line Content
[data-has-view] {
  padding: .75rem;
  // box-shadow: 0 1px 4px rgba(0,0,0,.25);
  border-radius: 4px;
  margin-bottom: 1rem;
  // border: 1px solid transparent;
  &.active {
    background: white;
    // border-color: lightgray;
    box-shadow: 0 0 2px lightgrey;
  }
  @include media-query($on-palm) {
    background: white;
    box-shadow: none!important;
    border: 1px solid lightgray;
  }
  h3.line-title {
    font-size: 1.5em;
    padding: .25em;
    min-height: 2.5em;
    border-radius: 4px;
    img {
      height: 2em;
      width: 2em;
      display: inline-block;
      vertical-align: sub;
      float: left;
      margin-left: -.15em;
    }
  }
}

// Cards
.card {
  border: 1px solid lightgray;
  padding: .75rem;
  // box-shadow: 0 1px 4px rgba(0,0,0,.25);
  border-radius: 4px;
  margin-bottom: 1rem;
  // background: whitesmoke;
  background: white;
  h3 {
    font-size: 1.5em;
    line-height: 1em;
    min-height: 3em;
    padding: .5em;
    vertical-align: middle;
    border-radius: 6px;
  }
  p {
    padding-bottom: 1rem;
    &:last-of-type {
      padding-bottom: 0;
    }
  }
  @include media-query($on-palm) {
    padding: .75rem .35rem .5rem;
  }
}
.card-note {
  background: lightYellow;
  margin-bottom: 0;
  a {
    display: inline;
  }
}
.card-alert {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.card-black {
  background: #241f20;
  color: white;
}
.card-yac {
  background: #0153a0;
  color: white;
  .button {
    background: white;
    color: #0153a0!important;
  }
}
.card-key {
  background-color: #07b3b3;
  background-image: url(../images/key-pattern.png);
  color: white;
  .button {
    background: white;
    color: #07b3b3!important;
  }
}
.card-fullheight {
  display: flex;
  flex-direction: column;
}

// Fare Table
table {
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: $primary;
  color: white;
}

// Apps
.apps {
  text-align: center;
  strong {
    display: block;
  }
  img {
    border-radius: 20px;
    border: .5px solid rgba(0,0,0,.1);
  }
}

// Blank
.blank {
  text-align: center;
  padding: 2rem 0 6rem;
  font-size: 1.2rem;
  font-weight: bold;
  opacity: .25;
}

// Loading
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.loading {
  text-align: center;
  padding: 2rem 0;
  font-size: 1.5rem;
}
.loading-message {
  opacity: .5;
}
.loading-spinner {
  margin: 2rem auto;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 0.25rem solid rgba(0, 0, 0, 0.2);
  border-top-color: #264A8B;
  animation: spin 1s infinite linear;
}

// Footer
footer {
  background: $black;
  color: white;
  a {
    color: white;
    &:hover {
      color: white!important;
    }
  }
  p {
    opacity: .75;
  }
}

// Twitter buttons
$twitter: #55acee;
.twitter-button {
  font-size: 13px;
  line-height: 26px;
  font: normal normal normal 11px/18px 'Helvetica Neue',Arial,sans-serif;
  -webkit-user-select: none;
  display: inline-block;
  zoom: 1;
  position: relative;
  padding: 1px 8px 1px 6px;
  font-weight: 500;
  color: #fff!important;
  cursor: pointer;
  background-color: #1b95e0;
  box-sizing: border-box;
  border-radius: 4px;
  vertical-align: middle;
  -webkit-font-smoothing: subpixel-antialiased;
  text-decoration: none;
  &:hover, &:focus, &:active {
    background-color: #0c7abf;
    text-decoration: none;
  }
  &:active {
    box-shadow: inset 0 3px 5px rgba(0,0,0,0.1);
  }
  icon {
    margin: 0!important;
  }
}
