---
layout: blank
home: true
permalink: /
---

<header id="welcome">

  <container>
    <row align="middle" float="center">
      <column size="50" class="text-center">

        <img src="https://unsplash.it/500/300" alt="">

      </column>
      <column size="50" class="text-left">
        <h1 class="no-margin-bottom">Welcome!</h1>
        <p class="lead">Cutie is a boilerplate for event website.</p>
        <a href="#info" class="button button-large">Learn more <icon class="icon-right"></icon></a>
      </column>
    </row>
  </container>

</header>

<section id="guests">

  <container>
    <row>
      <column>
        <h1>Guests</h1>
        <rows class="guest-embed-list">

          {% for guest in site.data.guests limit:6 %}
             <a class="guest guest-vip guest-embed column" href="{{ site.baseurl }}/guests#{{ guest.name | slugify }}" size="33">
               <div class="avatar" style="background-image:url({{ site.baseurl }}/{{ guest.avatar }});"></div>
               <h3>{{ guest.name }}</h3>
             </a>
          {% endfor %}

        </rows>
        <a href="{{ site.baseurl }}/guests"class="button">More Guests <icon class="icon-right"></icon></a>
      </column>
      <column>
        <h1>Updates</h1>
        <ul class="post-list">
          {% for post in site.posts limit:4 %}
            <li>
              <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

              <h3>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
              </h3>
            </li>
          {% endfor %}
        </ul>
        <a href="{{ site.baseurl }}/blog" class="button">From the Blog <icon class="icon-right"></icon></a>
      </column>
    </row>
  </container>

</section>
<section id="example">

  <container>
    <h1>Section Header</h1>
    <p>Section content goes here.</p>
  </container>

</section>
