---
layout: blank
---
<print-row>
<print-column width="50">
<header style="background-image: url({{ site.baseurl }}{{ page.cover }})">
	<container>
		<h1>Hello {{ page.title }}!</h1>
		<p class="lead">Here's your guide to fast, safe, and affordable public transportation around campus.</p>
		<p class="hidden-print"><a href="../pdf/septa-yac-{{ page.title | slugify }}.pdf" class="button" target="_blank">Download Printable PDF</a></p>
		<p class="print-only no-margin-bottom">This is a publication of the SEPTA Youth Advisory Council (YAC).</p>
		<!-- <p class="visible-mobile hidden-desktop">
			<a href="#map" class="button">Map</a>  <a href="#routes" class="button">Routes</a> <a href="#fares" class="button">Fares</a> <a href="#apps" class="button">Apps</a> <a href="#routes" class="button">Travel Assistance</a> <a href="#key" class="button">SEPTA Key</a> <a href="#tips" class="button">Tips</a>
		</p> -->
	</container>
</header>
<div id="map"></div>
</print-column>
<print-column width="50">
<print-page-break></print-page-break>
<section id="routes">
	<container>
		<h2 class="visible-mobile hidden-desktop">Routes</h2>
		<row>
			{% for m in page.methods %}
			<column>
				<div data-has-view class="" id="{{ m.name | slugify }}">
					<h3 class="line-title title-{{ m.mode }}"><img src="{{ site.baseurl }}/images/bullet-{{ m.mode }}.svg" alt="{{ m.mode }} icon" height="32" width="32">{{ m.name }}</h3>
					<b>Station:</b> {{ m.station }} <br>
					{% if m.zone %}<b>Regional Rail Fare Zone:</b> {{ m.zone }} <br>{% endif %}
					<b>Route:</b> {{ m.route }} <br>
					{% if m.frequency %}<b>Frequency:</b> {{ m.frequency }} <br>{% endif %}
					{% if m.destinations %}
						<b>Destinations:</b>
						<ul>
						{% for d in m.destinations %}
							<li>{{ d }}</li>
						{% endfor %}
						</ul>
					{% endif %}
				</div>
			</column>
			{% endfor %}
		</row>
		{% if page.note %}<p class="card card-note">{{ page.note }}</p>{% endif %}
	</container>
</section>
</print-column>
</print-row>
<section>
	<container>
		<row>
			<column>
				<div class="card card-fullheight" id="fares">
					<h2>Fares</h2>
					<table style="width:100%">
						<tr>
							<th>Mode</th>
							<th>SEPTA Key</th>
							<th>Tickets</th>
							<th>Cash</th>
						</tr>
						<tr>
							<td><strong>Single Vehicle</strong>* <br>
								<small>Bus, El, Subway, Trolley, NHSL</small></td>
							<td>$2.00</td>
							<td> ** </td>
							<td>$2.50</td>
						</tr>
						<tr>
							<td><strong>With Transfer</strong>* <br>
								<small>Bus, El, Subway, Trolley, NHSL</small></td>
							<td>$3.00</td>
							<td> ** </td>
							<td>$3.50</td>
						</tr>
						<tr>
							<td><strong>Independence Daily Pass</strong> <br>
								UNLIMITED travel for 1 day <br>
								<small>Bus, El, Subway, Trolley, NHSL, <br>
								Zone 1-4 Regional Rail</small></td>
							<td> *** </td>
							<td>$13.00</td>
							<td>$13.00</td>
						</tr>
						{% if page.zone == 1 %}<tr>
							<td><strong>Zone 1 Regional Rail</strong> <br>
								<small>To Center City</small></td>
							<td> *** </td>
							<td>$5.25 Peak <br> $4.25 <img src='https://icon.now.sh/tonality' height="16" width="16"alt='E/W' /></td>
							<td>$6.00 Peak <br> $5.00 <img src='https://icon.now.sh/tonality' height="16" width="16"alt='E/W' /></td>
						</tr>{% endif %}
						{% if page.zone == 2 %}<tr>
							<td><strong>Zone 2 Regional Rail</strong> <br>
								<small>To Center City</small></td>
							<td> *** </td>
							<td>$5.25 <img src='https://icon.now.sh/wb_sunny' height="16" width="16" alt='Peak' /> <br>
								$4.25 <img src='https://icon.now.sh/tonality' height="16" width="16" alt='E/W' /></td>
							<td>$6.00 <img src='https://icon.now.sh/wb_sunny' height="16" width="16" alt='Peak' /> <br>
								$5.00 <img src='https://icon.now.sh/tonality' height="16" width="16" alt='E/W' /></td>
						</tr>{% endif %}
						{% if page.zone == 3 %}<tr>
							<td><strong>Zone 3 Regional Rail</strong> <br>
								<small>To Center City</small></td>
							<td> *** </td>
							<td>$6.00 <img src='https://icon.now.sh/wb_sunny' height="16" width="16" alt='Peak' /> <br>
								$5.25 <img src='https://icon.now.sh/tonality' height="16" width="16" alt='E/W' /></td>
							<td>$7.00</td>
						</tr>{% endif %}
						{% if page.zone == 4 %}<tr>
							<td><strong>Zone 4 Regional Rail</strong> <br>
								<small>To Center City</small></td>
							<td> *** </td>
							<td>$6.75 <img src='https://icon.now.sh/wb_sunny' height="16" width="16" alt='Peak' /> <br>
								$5.25 <img src='https://icon.now.sh/tonality' height="16" width="16" alt='E/W' /></td>
							<td>$8.00 <img src='https://icon.now.sh/wb_sunny' height="16" width="16" alt='Peak' /> <br>
								$7.00 <img src='https://icon.now.sh/tonality' height="16" width="16" alt='E/W' /></td>
						</tr>{% endif %}
						{% if page.zone == "NJ" %}<tr>
							<td><strong>Zone NJ Regional Rail</strong> <br>
								<small>To Center City</small></td>
							<td> *** </td>
							<td>$9.25</td>
							<td>$10.00</td>
						</tr>{% endif %}
						{% if page.zone != 0 %}<tr>
							<td><strong>Zone {{ page.zone }} Regional Rail <img src='https://icon.now.sh/airplanemode_active' height="16" width="16" alt='E/W' /></strong> <br>
								<small>To PHL Airport VIA Center City</small></td>
							<td> *** </td>
							<td>$9.25</td>
							<td>$10.00</td>
						</tr>{% endif %}
					</table>
					<br>
					<small>
						<img src='https://icon.now.sh/wb_sunny' height="16" width="16" alt='Peak' /> = Weekday Daytime Fare <br>
						<img src='https://icon.now.sh/tonality' height="16" width="16" alt='E/W' /> = Evening (Weekdays after 7pm), Weekend, and Major Holiday Fares <br>
						* A free transfer between Subway and El and Trolley routes are available at 30th St, 15 St/City Hall, and 13th St. No additional transfer fare is required. <br>
						** You can no longer purchase tokens, but they will be accepted until further notice. Each token covers $2.00 of your fare and cannot be used on Regional Rail. <br>
						*** Support for SEPTA Key on Regional Rail is coming in Summer 2019.
					</small>
					<br>
					<p>
						<strong>Save money</strong> by purchasing tickets and tokens before travel
						at SEPTA Sales Locations, Ticket Offices, and the SEPTA
						Website.
						<br>
						<strong>Traveling on Regional Rail?</strong>
						Purchase an Independence Pass for $13.
						It’s valid for travel all day and provides unlimited
						travel on all SEPTA services.
					</p>
				</div>
			</column>
			<column>
				<div class="card" id="apps">
					<h2>Navigate on the Go</h2>
					<p>
						The offical SEPTA apps and many third-party apps are available for your smartphone. Apps
						allow you to check schedules, plan trips,
						view fares, and even see train/bus
						locations on a real-time map.
					</p>

						<row class="apps">
							<columnz size="20">
								<a href="http://www.septa.org/service/new-app.html" target="_blank">
									<img src="{{ site.baseurl }}/images/app-septa.jpg" width="115" height="115" alt="App Icon" /> <br>
									<strong>Offical SEPTA</strong>
								</a>
							</columnz>
							<columnz size="20">
								<a href="https://maps.google.com/" target="_blank">
									<img src="{{ site.baseurl }}/images/app-google-maps.jpg" width="115" height="115" alt="App Icon" /> <br>
									<strong>Google Maps</strong>
								</a>
							</columnz>
							<columnz size="20">
								<a href="https://citymapper.com/" target="_blank">
									<img src="{{ site.baseurl }}/images/app-citymapper.jpg" width="115" height="115" alt="App Icon" /> <br>
									<strong>City&shy;mapper</strong>
								</a>
							</columnz>
							<columnz size="20">
								<a href="https://transitapp.com" target="_blank">
									<img src="{{ site.baseurl }}/images/app-transit.jpg" width="115" height="115" alt="App Icon" /> <br>
									<strong>Transit</strong>
								</a>
							</columnz>
							<columnz size="20">
								<a href="https://play.google.com/store/apps/details?id=com.staticfish.septainstant&hl=en" target="_blank">
									<img src="{{ site.baseurl }}/images/app-septa-instant.jpg" width="115" height="115" alt="App Icon" /> <br>
									<strong>SEPTA Instant</strong>
								</a>
							</columnz>
						</row>
						<br>
						<p>
							<strong>No smartphone?</strong> Text the Stop ID
							to <strong>41411</strong> on a bus sign
							for next departures, or view the signs posted in
							all train stations.
						</p>
				</div>
				<div class="card" id="assistance">
					<h2>Need travel assistance?</h2>
					SEPTA Customer Service is ready to help:
					<ul style="list-style: none; margin-left: 1em;">
						<li><a href="tel:2155807800" target="_blank"><img src='https://icon.now.sh/local_phone' height="16" width="16" alt='local_phone' /> Call (215) 580-7800</a></li>
						<li><a href="http://twitter.com/SEPTA_Social" target="_blank"><img src='https://icon.now.sh/twitter' height="16" width="16" alt='twitter' /> Tweet @SEPTA_Social</a></li>
					</ul>
					There are also additional resources online:
					<ul style="list-style: none; margin-left: 1em;">
						<li><a href="http://septayac.com/resources/" target="_blank"><img src='https://icon.now.sh/bookmark' height="16" width="16" alt='bookmark' /> Visit SEPTAYAC.com for Resources</a></li>
						<li><a href="http://www.septa.org/" target="_blank"><img src='https://icon.now.sh/bookmark' height="16" width="16" alt='bookmark' /> Visit SEPTA.org</a></li>
					</ul>
				</div>
				<div class="card print-only">
					<p class="no-margin-bottom">
						This is a publication of the SEPTA Youth Advisory Council (YAC). You can learn more about us and get involved at <u>SEPTAYAC.com</u>.
					</p>
				</div>
			</column>
		</row>
	</container>
</section>
<section class="hidden-print">
	<container>
		<row>
			<column>
				<div class="card card-key" id="key">
					<h2>'Tap' into SEPTA Key!</h2>
					<p>
						<strong>Say goodbye to tokens:</strong> A SEPTA Key tap card is the new way to pay for fares! It is currently being rolled out across the SEPTA sysyem.
					</p>
					<a href="https://beta.septakey.org/info/about-septa-key" target="_blank" class="button">Learn More <img src='https://icon.now.sh/arrow/07b3b3' height="16" width="16" alt='right arrow' /></a>
					<a href="https://beta.septakey.org/info/faq" target="_blank" class="button">FAQ <img src='https://icon.now.sh/arrow/07b3b3' height="16" width="16" alt='right arrow' /></a>
					<a href="https://beta.septakey.org/info/buy-load-locator" target="_blank" class="button">Retailers <img src='https://icon.now.sh/arrow/07b3b3' height="16" width="16" alt='right arrow' /></a>
					<a href="https://beta.septakey.org" target="_blank" class="button">Register, Reload, or &shy;Manage Your Cards <img src='https://icon.now.sh/arrow/07b3b3' height="16" width="16" alt='right arrow' /></a>
				</div>
				<div class="card card-black" id="tips">
					<h2>Riding Tips</h2>
					<strong>Make the Safe Choice</strong>
					<img src="{{ site.baseurl }}/images/safety.jpg" alt="Make the safe choice!" />
					<ul>
						<li>Stay behind the yellow line or curb at all times and wait for the vehicle to stop before boarding.</li>
						<li>Board only at designated stops and stations and stay within the view of the operator.</li>
					</ul>
					<strong>To make your trip easier</strong>
					<ul>
						<li>Have your fare ready for inspection or deposit into the farebox.</li>
					</ul>
				</div>
			</column>
			<column>
				<div class="card card-yac" id="yac">
					<h2>What is the SEPTA YAC?</h2>
					<img src="{{ site.baseurl }}/images/logo-yac.png" alt="SEPTA YAC logo" />
					<p>Composed of young riders from Philadelphia,
					Bucks, Chester, Delaware, and Montgomery
					counties, the Youth Advisory Council is
					SEPTA’s primary outreach group to riders ages
					14 to 22. The Youth Advisory Council
					advocates student needs to SEPTA leadership,
					assists SEPTA in creating promotions, provides
					outreach to the region’s youth, and educates
					peers about services and special events.</p>
					<p>The YAC was first convened in September
					2009, after a competitive application process
					that drew interest from college and high school
					students across the Delaware Valley. The youth
					serving on the YAC represent Philadelphia and
					suburban youth from a variety of universities
					and high schools. Membership is open to those
					between 16 and 23 years of age who reside or
					attend school in Philadelphia, Bucks, Chester,
					Delaware, or Montgomery counties.</p>
					<a href="http://septayac.com" target="_blank" class="button">Learn More <img src='https://icon.now.sh/arrow/0153a0' height="16" width="16" alt='right arrow' /></a>
				</div>
			</column>
		</row>
	</container>
</section>

<script>
mapboxgl.accessToken = 'pk.eyJ1IjoidmljbG91IiwiYSI6Imo2TnUwRVEifQ.Lym1WQrkrRlIXtSKS7n15w';

var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v9',
    center: [{{ page.lon }}, {{ page.lat }}],
   {% if page.zoom %}zoom: {{ page.zoom }}, {% else %}zoom: 14, {% endif %}
   {% if page.bearing %}bearing: {{ page.bearing }}, {% else %}bearing: 0, {% endif %}
   {% if page.pitch %}pitch: {{ page.pitch }}, {% else %}pitch: 14.5, {% endif %}
});

map.scrollZoom.disable();
map.addControl(new mapboxgl.NavigationControl());

var views = {
	{% for m in page.methods %}
    '{{ m.name | slugify }}': {
        bearing: 0{% if m.bearing %}{{ m.bearing }}{% endif %},
        center: [{{ m.lon }}, {{ m.lat }}],
        zoom: {% if m.zoom %}{{ m.zoom }}{% else %}14{% endif %},
        pitch: 0
    },
    {% endfor %}
};

var activeViewName = 'top'; // '{{ page.methods[0].name | slugify }}';

function setActiveView(viewName) {
	console.log("vn: " + viewName + "; avn: " + activeViewName);
    if (viewName === activeViewName) return;

    map.flyTo(views[viewName]);

    document.getElementById(viewName).setAttribute('class', 'active');
    document.getElementById(activeViewName).setAttribute('class', '');

    activeViewName = viewName;
}

{% for m in page.methods %}
var coord_{{ m.name | slugify | replace: '-','_' }} = [{{ m.lon }}, {{ m.lat }}];
var popup_{{ m.name | slugify | replace: '-','_' }} = new mapboxgl.Popup()
    .setHTML('<b>{{ m.station }}</b> <br> {{ m.name }} <br> {{ m.address }}');
var marker_{{ m.name | slugify | replace: '-','_' }} = document.createElement('div');
	marker_{{ m.name | slugify | replace: '-','_' }}.id = 'marker-{{ m.name | slugify }}';
	marker_{{ m.name | slugify | replace: '-','_' }}.style = 'background-image:url({{ site.baseurl }}/images/bullet-{{ m.mode }}.svg)';
new mapboxgl.Marker(marker_{{ m.name | slugify | replace: '-','_' }})
	.setLngLat(coord_{{ m.name | slugify | replace: '-','_' }})
	.setPopup(popup_{{ m.name | slugify | replace: '-','_' }})
	.addTo(map);
{% endfor %}

$("[data-has-view]").hover(
  function() {
		setActiveView(
			$(this).attr("id")
		);
	}
);

</script>
